{% extends 'base.html' %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sign up {% endblock title %}</title>
</head>
<body>
{% block content %}
  <h2>Sign up</h2>
  <form method="post" action="{% url 'signup' %}" class="form" action="{% url 'signup' %}" class="form">

    {% csrf_token %}
    <!--{{ form.as_p }}-->
      {% bootstrap_form form %}
    <button type="submit">Sign Up</button>
  </form>
{% endblock content %}

</body>
</html>